@model IEnumerable<HandsOnEFDBFirst.Entities.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptNames)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptCode)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptNames)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeptCode">Edit</a> |
                @* <a asp-action="Details" asp-route-id="@item.DeptCode">Details</a> | *@
                <a href="Department/Details?departmentId=@item.DeptCode">Details</a> |

                <a asp-action="Delete" asp-route-id="@item.DeptCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
