@model IEnumerable<BookApp.Entities.Book>

@{
    ViewData["Title"] = "Index";
}
<body style="background-color:beige">
<h1>Index</h1>
<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr style="background-color:lightslategrey">
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="background-color:lightgray">
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-outline-secondary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.BookId" class="btn btn-outline-secondary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.BookId" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>